.footer {
	background-color: #121212;
	height: 100%;
	width: 100%;
}
.footer__imgig {
	transition: all 0.3s ease;
	height: 35px;
	width: auto;
	&:hover {
		filter: opacity(0.9);
		transform: scale(0.9);
	}
}
.footer__imgf {
	transition: all 0.3s ease;
	height: 30px;
	width: auto;
	&:hover {
		filter: opacity(0.9);
		transform: scale(0.9);
	}
}
.footercontent {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.footertext {
	color: white;
}
small {
	margin-top: 10px;
	color: white;
}
