.navbar {
	background-color: #121212;
}
.navbar-nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.navbar-link {
	text-decoration: none;
	color: white;
	border-radius: 2px;
	padding: 5px;
	&:hover {
		background-color: #3c9e33;
		transition: 0.5s;
		color: white;
	}
}
.navbar-toggler {
	cursor: pointer;
	margin-right: 8%;
}
