.section {
	height: 100%;
	width: 100%;
}
.titulodestacados {
	text-align: center;
	font-size: 120%;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 4px;
	text-shadow: 2px 2px 10px #3c9e33;
	border-style: outset;
	border-radius: 4px;
	border-color: #3c9e33;
	background-color: #121212;
	color: #ffffff;
}
.divportadainicio {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 10px;
	height: 100%;
	width: 100%;
}
.divportadainicio-imgportada {
	height: 10%;
	width: auto;
}
.descripcionportada {
	font-size: 20px;
	text-align: center;
	padding: 5px 20px;
	&::after {
		content: " 😎 ";
	}
}
.divpadredestacados {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.descripciondestacados {
	text-align: center;
	font-size: 15px;
	margin: 10px 7px;
}
.divpadredestacados-item {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s ease-in-out;
	&:hover {
		filter: opacity(0.9);
		transform: scale(1.04);
	}
}
.divpadredestacados-item_img {
	height: 150px;
	width: auto;
}
.container {
	display: flex;
	flex-direction: column;
}
